/* Estilos para Bazareando */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #fff8f4;
  color: #674c47;
    background-image: url('img/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
  background-color: #997161;
  color: white;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* Por si se reduce en móvil */
  text-align: left;
  padding-bottom: 1rem;
}

.logo {
  width: 100px;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.hero {
  text-align: center;
  padding: 2rem 1rem;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.hero p {
  font-size: 1.2rem;
}

/* Secciones */
section {
  padding: 2rem;
}

/*bazares*/
main {
    padding: 1rem;
}

.bazar {
    background-color: #fff;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    max-width: 600px;
}

.bazar h2 {
    color: #674c47;
}

.bazar a {
    display: inline-block;
    margin-top: 0.5rem;
    color: #191926;
    text-decoration: none;
    font-weight: bold;
}

/*pie de pagian*/
footer {
  text-align: center;
  padding: 1rem;
  background-color: #7e5748;
  color: white;
}
